In [143]:
import os
import math
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [144]:
H2O_pos = '/Users/yatin/Documents/water/structures.xyz'

# read and store the separations
data_h1y = []
data_h1z = []
count = 1


with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-3) % 5 == 0:
            data_h1y.append(float(line.strip()[25:35]))
        count +=1
        
        
with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-3) % 5 == 0:
            data_h1z.append(float(line.strip()[42:52]))
        count +=1
        
        
# convert from Bohr to angstrom
#print(np.array(data_seps)) # coordinates were recorded, not separation
# data_seps = data_seps / 0.529177

In [145]:
H2O_pos = '/Users/yatin/Documents/water/structures.xyz'

# read and store the separations
data_h2y = []
data_h2z = []
count = 1


with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-4) % 5 == 0:
            data_h2y.append(float(line.strip()[24:35]))
        count +=1
        
        
with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-4) % 5 == 0:
            data_h2z.append(float(line.strip()[42:52]))
        count +=1
        
        
# convert from Bohr to angstrom
#print(np.array(data_seps)) # coordinates were recorded, not separation
# data_seps = data_seps / 0.529177

In [146]:
H2O_pos = '/Users/yatin/Documents/water/structures.xyz'

# read and store the separations
data_oy = []
data_oz = []
count = 1


with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-5) % 5 == 0:
            data_oy.append(float(line.strip()[24:35]))
        count +=1
        
        
with open(H2O_pos, 'r') as outf:
    for line in outf:
        if (count-5) % 5 == 0:
            data_oz.append(float(line.strip()[42:52]))
        count +=1
        
        
# convert from Bohr to angstrom
#print(np.array(data_seps)) # coordinates were recorded, not separation
# data_seps = data_seps / 0.529177

In [147]:
bond_1 = []
bond_2 = []
side3 = []
for loc in range(0, len(data_oy)):
    bond_1.append(math.sqrt((data_oy[loc]-data_h1y[loc])**2+(data_oz[loc]-data_h1z[loc])**2))
    bond_2.append(math.sqrt((data_oy[loc]-data_h2y[loc])**2+(data_oz[loc]-data_h2z[loc])**2))
    side3.append(math.sqrt((data_h2y[loc]-data_h1y[loc])**2+(data_h2z[loc]-data_h1z[loc])**2))

In [154]:
angle = []

for location in range(0,len(data_oy)):
    angle.append(np.arccos((bond_1[location]**2+bond_2[location]**2-side3[location]**2)/(2*bond_1[location]*bond_2[location])))

In [155]:
dataset = []

for i in range (0, len(data_oy)):
    l = []
    l.append(bond_1[i])
    l.append(bond_2[i])
    l.append(angle[i])
    dataset.append(l)

In [156]:
X = dataset

In [161]:
from sklearn.cluster import KMeans
import pandas as pd 
model = KMeans(n_clusters=10)
model.fit(X)
y_pred = model.predict(X)

In [163]:
print("cluster centers are: \n", model.cluster_centers_)

cluster centers are:
 [[0.94696678 0.83368153 2.06527494]
 [0.93992048 0.81751117 1.94728311]
 [0.97089958 0.92669739 2.17828065]
 [0.86820632 0.82813871 2.03131126]
 [0.9629522  0.91237037 2.09235213]
 [0.9449817  0.90964842 1.99914602]
 [0.88668316 0.84209297 2.15930378]
 [0.85469119 0.8106833  1.902594  ]
 [0.92690733 0.86877401 1.89547928]
 [0.96639074 0.84096738 2.17379246]]

In [172]:
{i: np.where(model.labels_ == i)[0] for i in range(model.n_clusters)}

{0: array([  3,   9,  11,  12,  14,  15,  20,  23,  25,  30,  62,  70,  84,
         94,  98, 100, 121, 123, 144, 148, 149, 151, 152, 163, 188, 201,
        216, 256, 259, 266, 267, 291, 302, 303, 311, 324, 332, 352, 385,
        393, 394, 415, 428, 441, 455, 473, 504, 505, 507, 520, 524, 529,
        541, 542, 551, 556, 568, 569, 580, 615, 616, 619, 623, 630, 645,
        648, 655, 673, 686, 687, 688, 703, 720, 725, 742, 745, 746, 756,
        759, 776, 779, 783, 786, 804, 813, 816, 818, 825, 827, 829, 833,
        855, 864, 874, 893, 925, 941, 943, 961, 963, 973, 985, 991]),
 1: array([  7,  13,  36,  38,  44,  45,  49,  58,  64,  81,  96, 111, 142,
        154, 160, 164, 168, 175, 178, 183, 187, 192, 207, 208, 209, 215,
        232, 233, 264, 265, 271, 275, 279, 300, 309, 320, 328, 344, 357,
        369, 386, 407, 414, 417, 420, 422, 434, 438, 449, 459, 471, 479,
        480, 514, 537, 550, 572, 577, 610, 613, 617, 621, 627, 632, 639,
        663, 683, 689, 695, 699, 704, 709, 735, 736, 748, 749, 751, 761,
        769, 798, 799, 808, 823, 839, 851, 852, 867, 882, 890, 903, 908,
        909, 931, 934, 938, 939, 948, 964, 974, 975]),
 2: array([ 10,  18,  19,  34,  40,  54,  60,  66,  67,  77,  97, 106, 112,
        113, 131, 137, 140, 146, 150, 161, 173, 184, 235, 237, 246, 248,
        270, 288, 297, 305, 307, 315, 326, 334, 341, 347, 351, 388, 390,
        403, 408, 409, 421, 431, 454, 477, 486, 490, 493, 509, 518, 519,
        549, 584, 594, 600, 608, 614, 622, 641, 650, 651, 659, 666, 670,
        674, 696, 701, 708, 716, 717, 721, 722, 741, 752, 757, 768, 772,
        784, 785, 788, 789, 797, 841, 846, 859, 868, 876, 878, 880, 887,
        889, 891, 892, 899, 904, 913, 933, 952, 953, 965, 979]),
 3: array([  0,  26,  35,  43,  69,  72,  78,  90, 110, 124, 134, 145, 153,
        159, 162, 180, 194, 195, 198, 202, 210, 213, 221, 231, 244, 247,
        274, 280, 281, 282, 304, 317, 329, 343, 354, 368, 381, 383, 389,
        398, 400, 402, 406, 419, 429, 430, 440, 444, 446, 464, 467, 469,
        483, 488, 498, 499, 501, 506, 510, 513, 515, 516, 522, 571, 587,
        591, 593, 597, 603, 604, 629, 633, 644, 646, 669, 679, 706, 727,
        738, 743, 767, 782, 792, 805, 810, 881, 895, 901, 905, 912, 921,
        937, 951, 955, 968, 969, 987]),
 4: array([ 27,  31,  33,  47,  52,  56,  59,  86,  88,  89,  95, 107, 129,
        141, 176, 190, 204, 211, 217, 219, 236, 240, 245, 250, 252, 254,
        263, 283, 287, 289, 295, 299, 306, 308, 318, 342, 361, 364, 418,
        442, 456, 460, 475, 476, 478, 487, 489, 502, 521, 523, 545, 579,
        588, 606, 618, 626, 637, 642, 643, 649, 652, 681, 682, 684, 693,
        702, 730, 731, 733, 744, 778, 780, 787, 809, 814, 819, 836, 838,
        840, 844, 861, 866, 871, 877, 902, 914, 919, 927, 928, 935, 936,
        954]),
 5: array([  1,   4,   6,   8,  29,  50,  55,  71,  74,  79, 117, 119, 120,
        126, 136, 139, 177, 197, 214, 220, 222, 243, 249, 258, 301, 321,
        349, 350, 358, 360, 371, 374, 377, 384, 396, 397, 399, 405, 411,
        416, 447, 461, 540, 546, 557, 559, 560, 563, 564, 565, 573, 575,
        583, 595, 625, 628, 634, 654, 660, 667, 671, 698, 700, 723, 753,
        760, 762, 765, 794, 821, 835, 843, 862, 869, 875, 884, 898, 910,
        911, 922, 956, 959, 972, 976, 980, 981, 996, 999]),
 6: array([ 37,  48,  53,  57,  91, 102, 105, 115, 116, 127, 182, 196, 203,
        206, 218, 225, 227, 228, 229, 241, 255, 257, 268, 284, 285, 292,
        293, 325, 331, 333, 337, 338, 362, 372, 375, 387, 392, 401, 404,
        410, 424, 425, 436, 439, 448, 452, 463, 484, 485, 491, 492, 494,
        511, 512, 530, 533, 543, 544, 547, 561, 578, 592, 601, 612, 635,
        636, 640, 653, 658, 662, 676, 677, 685, 694, 697, 713, 724, 732,
        734, 737, 747, 755, 763, 764, 766, 773, 777, 796, 800, 801, 806,
        815, 828, 832, 834, 837, 847, 850, 854, 858, 863, 870, 872, 873,
        888, 906, 915, 918, 924, 926, 940, 950, 958, 960, 977, 989, 990,
        992, 994, 997]),
 7: array([ 16,  21,  24,  46,  76,  80,  82,  93, 104, 109, 128, 147, 156,
        158, 171, 172, 181, 186, 189, 212, 226, 230, 238, 253, 269, 276,
        277, 312, 313, 330, 336, 339, 346, 363, 370, 376, 378, 391, 443,
        445, 450, 465, 470, 474, 481, 495, 517, 538, 548, 553, 554, 567,
        581, 585, 586, 589, 590, 599, 611, 620, 624, 631, 638, 656, 680,
        690, 691, 707, 710, 712, 726, 739, 781, 791, 812, 817, 822, 824,
        830, 848, 849, 857, 860, 865, 879, 883, 886, 900, 920, 923, 930,
        932, 947, 966, 995]),
 8: array([  5,  17,  22,  32,  41,  42,  61,  63,  65,  68,  73,  75,  92,
         99, 101, 103, 130, 132, 135, 143, 155, 167, 169, 170, 191, 199,
        200, 224, 234, 251, 260, 261, 272, 286, 294, 296, 310, 323, 335,
        340, 345, 353, 355, 356, 365, 366, 367, 379, 380, 382, 395, 413,
        426, 435, 437, 457, 462, 482, 500, 508, 525, 526, 527, 532, 535,
        539, 552, 562, 570, 574, 596, 661, 664, 675, 678, 715, 740, 750,
        758, 771, 790, 795, 802, 811, 820, 826, 845, 856, 885, 894, 896,
        897, 907, 916, 944, 946, 970, 971, 978, 984, 986, 993]),
 9: array([  2,  28,  39,  51,  83,  85,  87, 108, 114, 118, 122, 125, 133,
        138, 157, 165, 166, 174, 179, 185, 193, 205, 223, 239, 242, 262,
        273, 278, 290, 298, 314, 316, 319, 322, 327, 348, 359, 373, 412,
        423, 427, 432, 433, 451, 453, 458, 466, 468, 472, 496, 497, 503,
        528, 531, 534, 536, 555, 558, 566, 576, 582, 598, 602, 605, 607,
        609, 647, 657, 665, 668, 672, 692, 705, 711, 714, 718, 719, 728,
        729, 754, 770, 774, 775, 793, 803, 807, 831, 842, 853, 917, 929,
        942, 945, 949, 957, 962, 967, 982, 983, 988, 998])}

# References
1.